[submodule "Assets/BasisCore"]
	path = Assets/BasisCore
	url = https://github.com/LoginovMaxim/basis-core.git
[submodule "Assets/BasisLeoEcsWrapper"]
	path = Assets/BasisLeoEcsWrapper
	url = https://github.com/LoginovMaxim/basis-leoecs-wrapper.git
[submodule "Assets/BasisNetwork"]
	path = Assets/BasisNetwork
	url = https://github.com/LoginovMaxim/basis-network.git
